:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-light: #212121;
  --secodary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --bacground-text-color-theme-dark: #2f303a;
  --logo-header-color: #000000;
  --accent-color: #2196f3;
  --background-four-color: #f5f4fa;
  --background-color: #f5f5f5;
  --background-color-header: #c4c4c4;
  --svg-icon-color: #afb1b8;
  --background-overlay: rgba(33, 150, 243, 0.9);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit, .footer-form-submit, .hero-btn {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.list-portfolio {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  color: var(--secodary-text-color-theme-light);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Opened tab effect*/
.page-navigation .link.current {
  color: var(--accent-color);
}

/* Opened tab effect for buttons*/
.open-btn.current,
.hero-btn.current {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--secodary-text-color-theme-light);
  transition: color var(--transition-dur-and-func);
}
.mail:hover, .mail:focus {
  color: var(--accent-color);
}

.phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--secodary-text-color-theme-light);
  transition: color var(--transition-dur-and-func);
}
.phone:hover, .phone:focus {
  color: var(--accent-color);
}

.menu {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  color: var(--primary-text-color-theme-light);
  transition: color var(--transition-dur-and-func);
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: currentColor;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.social-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-and-func);
}
.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: var(--accent-color);
}

.social-list-item-link:hover .social-list-icon,
.social-list-item-link:focus .social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}

.social-list-icon {
  fill: var(--svg-icon-color);
  transition: fill var(--transition-dur-and-func);
}

.page-header {
  border: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

/* Logo blu part */
.logo__header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Logo black part */
.logo__header_studio {
  color: var(--logo-header-color);
}

.list-header {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.phone__svg,
.mail__svg {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color-header);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.hero-btn:hover, .hero-btn:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
}

.benefits-list {
  display: flex;
}

.benefits-list-item {
  width: 270px;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background-four-color);
}

.section-two-header {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.section-two-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.offers {
  padding-top: 0px;
}

.offers__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.offers__wrapper {
  position: relative;
}

.offers__header {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-text-color-theme-dark);
}

.section-four {
  background-color: var(--background-four-color);
}

.cards-list {
  display: flex;
  gap: 30px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-text-color-theme-dark);
}

.section-four-manager {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color-theme-light);
}

.section-four-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.clients-list-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients-list-item-link:hover, .clients-list-item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  justify-content: center;
  align-items: center;
  fill: var(--svg-icon-color);
  transition: fill var(--transition-dur-and-func);
}
.clients-list-item-link:hover .clients-list-icon, .clients-list-item-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bacground-text-color-theme-dark);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-list-address {
  margin-right: 93px;
}

.address-footer {
  margin-top: 20px;
}

.address-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

/* Logo footer white */
.logo__footer-studio {
  color: var(--primary-text-color-theme-dark);
}

.footer-li:not(:last-child) {
  margin-bottom: 9px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-header {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-icon-footer {
  fill: var(--primary-text-color-theme-dark);
}

.footer .social-list {
  padding-bottom: 0;
}

.footer-list-input {
  margin-left: auto;
}

.footer-list-input-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-email-input {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--primary-text-color-theme-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-email-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-submit {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--primary-text-color-theme-dark);
  border: transparent;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: auto;
  padding: 10px 28px;
  background-color: var(--accent-color);
}
.footer-form-submit:hover, .footer-form-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-submit-icon {
  margin-left: 10px;
  fill: var(--primary-text-color-theme-dark);
}

.list-portfolio {
  display: block;
  color: var(--secodary-text-color-theme-light);
  transition: box-shadow var(--transition-dur-and-func);
}
.list-portfolio:hover, .list-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color-theme-light);
}

.potfolio-href {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.open-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.open-btn:hover, .open-btn:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.open-btn.current {
  padding: 6px 25px;
}

.cards-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-item-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  color: var(--primary-text-color-theme-dark);
  background-color: var(--background-overlay);
}
.list-portfolio:hover .overlay, .list-portfolio:focus .overlay {
  transform: translateY(0%);
}

.img-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.modal-close-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color-theme-light);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secodary-text-color-theme-light);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-field-desc {
  margin-bottom: 20px;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-own-checkbox {
  border: 2px solid var(--primary-text-color-theme-light);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  fill: var(--primary-text-color-theme-dark);
  border: none;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.modal-form-own-checkbox-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color-theme-light);
}

.modal-form-own-checkbox-user {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-submit {
  display: flex;
  align-items: center;
  font-weight: 700;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */