.clients-list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.clients-list-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.clients-list-icon {
  justify-content: center;
  align-items: center;
  fill: var(--svg-icon-color);
  transition: fill var(--transition-dur-and-func);

  .clients-list-item-link:hover &,
  .clients-list-item-link:focus & {
    fill: var(--accent-color);
  }
}
