.features-list__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background-four-color);
}

.features-list__header {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// .features-list__item-four {
//   margin-bottom: 60px;
// }

.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
