.hero {
  padding: 118px 0;
  // align-items: center;
  // margin-bottom: 60px;
  text-align: center;
  background-color: var(--background-color-header);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    & {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url("../images/hero/hero-mobile@2x.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url("../images/hero/hero-tablet.jpg");
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    & {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url("../images/hero/hero-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url("../images/hero/hero-desktop.jpg");
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    & {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url("../images/hero/hero-desktop@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.main-header {
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 60px);
    width: 696px;
  }
}

.hero-btn {
  font-weight: 700;
  @extend %btn;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  // min-width: 216px;
  min-height: 50px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
  }
}
