.social-list-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-item-link:hover .social-list-icon,
.social-list-item-link:focus .social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}
.social-list-icon {
  fill: var(--svg-icon-color);
  transition: fill var(--transition-dur-and-func);
}
